.conteudolivro h1 {
    width: 412px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25em;
    color: rgb(255, 255, 255);
    background-color:  rgb(23, 74, 168);
    font-weight: 650;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
  }

.conteudolivro h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25em;
    color: rgb(255, 255, 255);
    background-color:  rgb(23, 74, 168);
    font-weight: 650;
    font-family: 'Open Sans', sans-serif;
  }
  
.conteudolivro input {
    flex-direction:column;
    align-items: center;
    justify-content:center;
    width: 390px;
  }

  .conteudolivro select {
    flex-direction:column;
    align-items: center;
    justify-content:center;
    width: 390px;
  }
  
.conteudolivro  form {
      width: 412px;
      flex-direction: column;
      align-items: center;
      padding: 0.5em;
      color: rgb(37, 92, 129);
      background-color: rgb(175, 215, 223);
      font-weight: 750;
      font-family: 'Open Sans', sans-serif;
      margin: 0 auto;
    }

.conteudolivro tr {
      color: rgb(255, 255, 255);
      background-color:  rgb(50, 102, 199);
    
}
    
.conteudolivro td {
        color: rgb(37, 92, 129);
        background-color: rgb(175, 215, 223);
      
}
    
  
.conteudolivro table {
      width:auto;
      background-color:rgb(175, 215, 223);
      color: rgb(37, 92, 129);
      font-family: 'Open Sans', sans-serif;
      font-weight: 450;
    }

.conteudolivro {
    background-color: #f1f1f1;
}