.conteudohome h1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25em;
    color: var(--color-textwhite);
    background-color: var(--color-primary);
    font-weight: 650;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);   
  }
  
         
.conteudohome table {
    color: var(--color-text);
    font-family: 'Open Sans', sans-serif;
    font-weight: 450;
    justify-content:space-between;
    flex-direction: column;
    align-items:center;
    width: 50%;
    margin: 0 auto;
    font-size: 130%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);   
  }

.conteudohome table td {
    background-color: var(--color-lightgray);
    border-top: 1px solid  var(--color-tertiary); 
    border-bottom: 1px solid  var(--color-tertiary); 
    text-align: center;
}

.conteudohome {
  background-color: rgba(210, 212, 214, 0.281);
}