.banner {
    width: 100%;
    height: 448px;
    /* background-image: url('/public/images/banner.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
}