.conteudoRetirada h1 {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25em;
    color: var(--color-textwhite);
    background-color:  var(--color-primary);
    font-weight: 550;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);  
    border-radius: 10px 10px 0 0
  }

.conteudoRetirada h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25em;
    color: var(--color-textwhite);
    background-color:   var(--color-primary);
    font-weight: 650;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);  
  }
  
.conteudoRetirada input {
    flex-direction:column;
    align-items: center;
    justify-content:center;
    width: 535px;
  }

.conteudoRetirada select {
    flex-direction:column;
    align-items: center;
    justify-content:center;
    width: 535px;
  }
  
.conteudoRetirada tr {
  color: rgb(255, 255, 255);
  background-color:  var(--color-tertiary);

  }

  .conteudoRetirada td {
    color: var(--color-textblack);
    background-color:var(--color-lightgray);
    border-bottom: 1px solid var(--color-textwhite);
  
    }

.conteudoRetirada  form {
      width: 550px;
      flex-direction: column;
      align-items: center;
      padding: 0.5em;
      color: var(--color-textblack);
      background-color: var(--color-lightgray);
      font-weight: 650;
      font-family: 'Open Sans', sans-serif;
      margin: 0 auto;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);  
      border-radius: 0 0 10px 10px;
    }
  
.conteudoRetirada table {
      width:1115px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 450;
    }

.conteudoRetirada {
    background-color: #f1f1f1;
}