* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#root {
  width: 100%;
}



/* variáveis de cor */
:root {
  --color-primary: #fafafa;
  --color-secundary: #646464;
  --color-background: #E5E5E5;
  --color-text: #312e2e;
}

