* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#root {
  width: 100%;
}

body {
  background-color: #efeff0;
}

/* variáveis de cor */
:root {
  --color-primary: #343a40;
  --color-secundary: #646464;
  --color-tertiary: #6c757d;
  --color-lightgray:#dee2e6;
  --color-background: #f8f9fa;
  --color-textblack: #212529;
  --color-textwhite: #ffffff;
}
